/* 기본 글꼴 - 웹폰트 */
html,body{
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
/* 박스 사이징 재정의 */
*,*::before,*::after{
  box-sizing:border-box;
}

/* 레이아웃 */
.header,.visual,.main,.slogan,.footer-inner{
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header{
  background-color: yellow;
  height: 10vh;
}
/* 비주얼 */
.visual{
  background-color: orange;
  height: 10vh;
}
/* 메인콘텐츠 */
/* flex를 활용한 메인콘텐츠 배치 */
/* .main{
  background-color: blue;
  height: 60vh;
  display: flex;
  flex-flow: row nowrap; 
  justify-content: space-between;
  padding: 30px;
  /* flex-direction: row;
  flex-wrap: nowrap; 
} */

/* float을 활용한 메인 콘텐츠 배치 */
.main{
  background-color: blue;
  display: flow-root;
  min-height: 450px;
  padding: 30px 15px;
}

/* .clearfix::after{
  content: "";
  display: block;
  clear: both;
} */

.group{
  margin: 0 15px;
  float: left;
}

.group1{
  background-color: pink;
  width: 250px;
}

.group2{
  background-color: lime;
  width: 380px;
}

.group3{
  background-color: salmon;
  width: 190px;
}

/* .clearfix{
  clear: both;
} */

/* 슬로건 */
.slogan{
  background-color: aqua;
  height: 10vh;
}
/* 푸터 */
.footer{
  background-color: purple;
  height: 10vh;
}


.logo{
  margin: 0;
}