@import url(./fonts.css);
@import url(./fontello.css);

/* 기본 글꼴 - 웹폰트 */
html,body{
  font-family: Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
html{
  font-size:10px;
}

body{
  font-size : 1.4rem;
  color: #000;
  /* background-color: #ccc; */
  background:  url(./images/bg_flower.png) no-repeat 50% 0,
  linear-gradient(to bottom, #ccc 0%, #eee 30%, #fff 60%, #fff 100%);
  background-color: #ccc;
}
/* 숨김 콘텐츠 */
.a11y-hidden, legend{
  /* background-color: red; */
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
  clip : rect(1px, 1px, 1px, 1px);
  clip-path: polygon(0 0,0 0,0 0);
}

/* 링크 스타일 */
a{
  text-decoration: none;
  color: inherit;
}
/* 박스 사이징 재정의 */
*,*::before,*::after{
  box-sizing:border-box;
}
/* 건너뛰기 링크 */
.skip-nav{
  background-color: #000;
  text-align: center;
  color : #fff;
  /* padding: 4px 0; */
  /* position: relative; */
  position: absolute;
  top : 0;
  left : 0;
  width: 100%;
  z-index: 10;
}

.skip-nav a{
  display: inline-block;
  padding : 10px;
  position: absolute;
  /* top : -1000px; */
}

.skip-nav a:focus{
  position:static;
  outline-offset: -4px;
}
/* 클래스 모듈 */
.reset-list{
  margin : 0;
  padding-left: 0;
  list-style-type: none;
}
.normal-style{
  font-style: normal;
}
.gradient-effect{
  border : 1px solid #aaa;
  border-radius: 5px;
  background: linear-gradient(#ccc, #eee);
  background-color : #ccc;
}
.spacing-sm{
  padding : 10px;

}
.spacing-md{
  padding : 15px;
}
.accent-color{
  color:#dd422a;
}
.headline{
  font-size : 1.5rem;
  font-weight : 700;
  margin : 0;
}
/* 레이아웃 */
.header,.visual,.main,.slogan,.footer-inner{
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header{
  background-color: white;
  position: relative;
  padding: 0 30px;
  /* height: 120px; */
  border-radius: 0 0 15px 15px;
}

.logo{
  /* background-color: teal; */
  margin: 0;
  font-size: 1em;
  position: absolute;
  top: 43px;
  left: 60px;
}
.logo a{
  display: block;
}
.logo img{
  /* background-color: blueviolet; */
  /* display: block; */
  vertical-align: top;
}
/* 멤버 서비스 링크 */
.member-service{
  /* background-color: aquamarine; */
  margin: 0;
  padding-left: 0;
  list-style-type: none;
  /* display: flex; */
  /* font-size: 0; */
  text-align: right;
  /* margin-right: -10px; */
  /* position: relative; */
  /* right: -10px; */
  transform: translateX(10px);
}

.member-service li{
  display: inline-block;
  padding: 4px 0;
  text-transform: uppercase;
  /* background-color: tomato; */
  /* font-size: 1rem; */
}
.member-service a{
  display: inline-block;
  padding: 6px 10px;
  
}
/* 메인 메뉴 */
.navigation{
  padding-bottom: 35px;
}
.menu{
  border-top: 2px solid black;
  height: 47px;
  /* background-color: orange;
  background-image: linear-gradient(to bottom, orange 0%, orangered 30%,orangered 70% ,orange 100%); */
  background: #ff5328 linear-gradient(to bottom, #f79131 0%,#fc632f 30%,#ff5328 71%,#f99f0e 100%);
  margin: 0;
  padding-left: 230px;
  list-style: none;
  border-radius: 0 0 5px 5px;

}
.menu-item{
  position: relative;
  float:left;
  border-left : 2px solid white;
}
.is-active .menu-button{
  color : #ff0;
}

.is-active .menu-button::after{
  content : "";
  display: block;
  /* border-top : 1px solid black; */
  background : black;
  height: 2px;
}
.menu-button{
  cursor: pointer;
  background: transparent;
  border: 0;
  padding : 0 23px;
  line-height: 45px;
  font-weight: 700;
  color: #fff;
  font-size : 1.5rem;
  text-shadow: 1px 1px 1px black, -1px -1px 1px black;
}
.is-active .sub-menu{
  display: block;
}
.menu-html, .menu-css, .menu-standards{
  left : 0;
}
.menu-accessibility, .menu-qna, .menu-archive {
  right : 0;
}
.sub-menu{
  margin: 0;
  padding-left: 0;
  list-style: none;
  position: absolute;
  display: none;
  top : 47px;
  white-space: nowrap;
}
.sub-menu li{
  display: inline-block;
}
.sub-menu a{
  display: inline-block;
  padding: 6px 10px;
}
/* 첫번째 자식요소 ::before  */
.sub-menu a::before{
  content : "\f192";
  font-family: 'fontello';
  display: inline-block;
  width: 1em;
  margin-right: .2em;
}
.sub-menu a:focus{
  outline:none;
}
.sub-menu a:hover::before, .sub-menu a:focus::before{
  content : "\e800";  
}

.sub-menu a:hover, .sub-menu a:focus{
  color : red;
}


/* 비주얼 */
@keyframes moveEffect{
  from{
    font-size : 12px;
    color : rgba(0,0,0,0);
    /* margin: 0; */
    /* padding: 0; */
    transform: translate(0,0);
  } /* 0% */ 
  50%{}
  to{
    font-size : 24px;
    color : rgba(0,0,0,1);
    /* margin:75px 0 0 400px; */
    /* padding:75px 0 0 400px; */
    transform: translate(400px,75px);
  } /* 100% */
}
@keyframes fadeEffect{
  0%{opacity: 1;}
  100%{opacity: 0;}
}

.visual{
  /* background-color: orange; */
  height: 120px;
  position: relative;
}
.visual::before, .visual::after{
  content : "";
  position:absolute;
  top : 0;
  left : 0;
  width: 100%;
  height: 100%;
  animation : fadeEffect 2000ms infinite alternate;
}

.visual::before{
  background: url(./images/ani_flower_01.png) no-repeat 0 -10px,
              url(./images/ani_flower_02.png) no-repeat 600px 0;
}
.visual::after{
  background: url(./images/ani_flower_03.png) no-repeat 300px 0,
              url(./images/ani_flower_04.png) no-repeat 800px 0;
  animation-delay: 1000ms;
}
.visual-text{
  position: relative;
  z-index: 10;
  font-family : Georgia, 'Times New Roman', Times, serif;
  animation-name : moveEffect;
  animation-duration: 2000ms;
  animation-fill-mode : forwards;
  display: inline-block;
}
/* 메인콘텐츠 */
/* flex를 활용한 메인콘텐츠 배치 */
/* .main{
  background-color: blue;
  height: 60vh;
  display: flex;
  flex-flow: row nowrap; 
  justify-content: space-between;
  padding: 30px;
  /* flex-direction: row;
  flex-wrap: nowrap; 
} */

/* float을 활용한 메인 콘텐츠 배치 */
.main{
  /* background-color: blue; */
  display: flow-root;
  min-height: 450px;
  padding: 30px 15px;
  background-color: white;
  border-radius: 15px 15px 0 0;
}

.clearfix::after{
  content: "";
  display: block;
  clear: both;
}

.group{
  margin: 0 15px;
  float: left;
}

.group1{
  /* background-color: pink; */
  width: 250px;
}

.group2{
  /* background-color: lime; */
  width: 380px;
}

.group3{
  /* background-color: salmon; */
  width: 190px;
}

/* 로그인 */
.login{
  background: radial-gradient(circle at right top, #db6c2b, #dd422a);
  border-radius: 5px;
  box-shadow: 5px 5px 0 0 #ccc;
  padding: 10px;
}

.login-title{
  font-size: 1.5rem;
  color: #ff0;
  margin: 0 0 10px 10px;
}

.login-form{
  background-color: #fff;
  border-radius: 5px 5px 0 0;
  padding: 10px 10px 0 10px;
}

.login-form fieldset{
  border: 0;
  margin: 0;
  padding: 0;
  position: relative;
  padding-bottom: 4px;
  border-bottom: 1px solid #aaa;
}

.login-form div{
  margin-bottom: 6px;
}

.login-form label{
  display: inline-block;
  width: 4em;
}

.login-form input{
  border: 1px solid #aaa;
  border-radius: 3px;
  width: 90px;
  height: 22px;
  padding: 1px 1px 1px 8px;
}

.button-login{
  position: absolute;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  border: 1px solid #e8852e;
  background-color: #ed552f;
  color: #fff;
  padding: 0;
  font-size: 1.2rem;
  border-radius: 3px;
}

.sign{
  background-color: #fff;
  border-radius: 0 0 5px 5px;
  padding: 4px 10px;
  display: flex;
  justify-content: space-between;
}
.sign a{
  padding: 6px 0;
  font-size: 1.3rem;
}

.sign .icon-right-open::before{
  color: #dd422a;
}
/* .clearfix{
  clear: both;
} */
/* 유효성 검사 배너 */
.validation{
  margin-top : 25px;
}
.validation-list{
  margin-top : 10px;
  padding-left: 0;
  list-style: none;
}
.validation-list li{
  margin-top:10px;
}
.validation-list a{
  display: block;
  background: url(./images/validation_icon.png) no-repeat 20px 50%, #ccc linear-gradient(#ccc, #eee);
  border : #aaa solid 2px;
  border-radius: 30px;
  padding : 8px 20px 8px 45px;
}
.validation-list a:hover, .validation-list a:focus{
  color : red;
}
/* 웹 관련 용어 */
.term{
  border: 1px solid #aaa;
  border-radius: 5px;
  background: #ccc linear-gradient(to bottom,#ccc, #eee);
  padding : 10px 15px;
  margin-top : 20px;
  display: flow-root;
}
.term-title{
  font-size : 1.5rem;
  margin: 0;
}
.term-list{
  margin : 10px 0 0 0;
  
}
.term-list dd{
  margin-left:0;
  
}
.term-list-inner{
  display: flow-root;
  margin-top : 10px;
}

.term-list-subject{
  width: 140px;
  float : right;
  color : #296897;
  font-weight:500;
}
.term-list-thumbnail{
  float : left;
}
.term-list-thumbnail img{
  vertical-align: top;
  
}
.term-list-brief{
  float : right;
  width: 140px;
  margin-top : 10px;
}

.reverse .term-list-subject,
.reverse .term-list-brief{
  float : left;
}
.reverse .term-list-thumbnail{
  float : right;
}
/* 검색 폼 */
.search-form{
  border : 1px solid #aaa;
  border-color : #aaa #aaa #fff #aaa;
  border-radius: 15px 15px 0 0;
  background: #ccc linear-gradient(#ccc, #eee);
  padding : 15px 25px 10px;
  /* display: flex; */
  /* position : relative; */
}
.search-form fieldset{
  margin: 0;
  padding: 0;
  border: 0;
}
.search-form-inner{
  /* background-color: yellow; */
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
}
.search-input{
  /* background-color: pink; */
  flex-grow: 1;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  width: 250px;
}

.search-form label{
  flex-shrink: 0;
  margin-right: 8px;
}
.search-form input{
  flex-grow: 1;
  border: 1px solid #aaa;
  border-radius: 3px;
  padding : 2px 10px;
  height : 24px;
  width: 0;
  /* margin : 0 15px; */
  appearance: none;
}

.button-search{
  background-color: #000;
  color : #fff;
  border : 1px solid #aaa;
  border-radius: 3px;
  padding : 0 10px;
  font-size : 1.3rem;
  height: 24px;
  margin-left: 8px;
}
/* 공지사항 및 자료실 */
.board{
  /* background-color: yellow; */
  margin-top: 20px;
  position: relative;
  padding-top : 45px;
}
.board-panel{
  /* background-color: pink; */
}
.board-list, .board-more {
  display: none;
}
.is-select .board-list, .is-select .board-more{
  display:block;
}

.board-tab{
  cursor: grab;
  position: absolute;
  top: 0;
  border: 1px solid #aaa;
  padding : 6px 8px;
  border-radius: 5px 5px 0 0;
  background : #ccc linear-gradient(#ccc, #eee);
  color : #666;
}


.is-select .board-tab{
  background: white;
  color: #dd422a;
  border-color: currentColor currentColor #fff currentColor;
}
.button-notice{
  left : 0;
}
.button-archive{
  left : 67px;
}


.board-list{
  margin: 0;
  padding-left: 0;
  list-style: none;
  /* background-color: skyblue; */
  /* position : relative; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.board-more{
  position:absolute;
  top: -8px;
  right : -8px;
  padding : 8px;

}
.board-list li{
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  margin-top: 8px;
  /* background-color: salmon; */
}
.board-list li:first-child{
  margin-top: 0;
}
.board-list a{
  /* background-color: blueviolet; */
  flex-grow : 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* .board-list li:nth-child(n+2){
  background-color: teal;
} */
/* .more{
  background-color: red;
  float : right;
  top : 0;
  right : 0;
} */
.more::before{
  color: hsla(110, 50%, 30%, 1);
}
/* 새소식 */
.news{
  /* background-color: lightgreen; */
  margin-top: 20px;
  position: relative;
}
.news::before{
  content: "";
  position : absolute;
  top : 35px;
  left : 0;
  width: 100%;
  height : 1px;
  background: #ccc linear-gradient(to right, #ccc, #fff);
}
.news-title{
  font-size : 1.5rem;
  margin : 0;
  color:#dd422a
}
.news-item-title::before{
  content: "* ";
}
.news-link{
  display: block;
  /* background-color: yellow; */
}
.news-item{
  /* background-color: pink; */
  margin-top: 35px;
  position: relative;
  padding-left: 130px;
  min-height: 110px;
  /* display: flex; */
  /* flex-flow: column nowrap; */
  /* position: absolute; */
}
.news-item-title{
  /* background-color: yellow; */
  font-size : 1.4rem;
  font-weight: 700;
  margin : 0;
}
.news-item-date{
  /* background-color:salmon; */
}
.news-item-brief{
  /* background-color: blueviolet; */
  margin : 10px 0 0 0;
  line-height: 1.5;
}
.news-item-thumbnail{
  margin: 0;
  /* background-color: lightgreen; */
  position : absolute;
  top : 0;
  left : 0;
  text-align: center;
}


.news-item-thumbnail img{
  padding-bottom: 15px;
  box-shadow: 0 15px 15px 0 #ccc;
}

.news-more{
  position: absolute;
  top : -8px;
  right : -8px;
  padding : 8px;
}
/* 슬로건 */
.slogan{
  /* background-color: aqua; */
  height: 10vh;
}
/* 푸터 */
.footer{
  /* background-color: purple; */
  height: 10vh;
}

